<h4 class="ui center medium aligned icon header">
  <i class="circular orange comment icon"></i>
  Chat
</h4>
<div class="ui two column grid">
  <div class="twelve wide column">
    <div class="ui fluid card chatbox">
      <div class="content" id="messages">
        <div class="ui small feed" id="message-container">
          <%= render @messages %>
        </div>
      </div>
      <div class="extra content">
        <%= form_for(@message, html: {class: "ui reply form", role: "form"}, url: message_path, remote: true) do |f| %>
          <div class="field">
            <div class="ui fluid icon input">
              <%= f.text_field :body, placeholder: "Enter a message" %>
              <%= f.button id: "submit-button" do %>
                <i class="bordered inverted orange edit icon"></i>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="four wide column">
    <div class="ui fluid card chatbox">
      <div class="content2">
        <div class="ui vertical menu">
          <a class="active item">
            Online
          </a>
          <% User.all.each do |user| %>
            <% if logged_in? && user == current_user %>
              <a class="item">
                <%= user.username %>
              </a>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
